* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

#logo {
  width: 125px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav {
  text-align: right;
  flex: 1;
}

nav ul {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
}

nav ul li {
  display: inline-block;
  padding: 20px
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-1 {
  flex-basis: 50%;
  max-width: 300px;
}

.col-1 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-1 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}

.a {
  flex-basis: 60%;
  padding-top: 100px;
}

.b {
  flex-basis: 40%;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.header{
  background: #ebdb34;
}

.header .row{
  margin-top: 10px;
}
.cart{
  padding-top:10px;
}
.btn:hover{
  background: #563434;
}

.categories{
  margin: 70px 0;

}
.col-2{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-2 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-3{
  flex-basis: 25%;
  min-width: 250px;
  padding: 10px;
  margin-bottom: 100px;
  transition: transform 0.8s;
}
.col-3 img{
  width: 80%;
}
.title{
  text-align: center;
  margin: 0 80px;
  line-height: 60px;
  position: relative;
  color: #555;
  margin-bottom:  50px;
}
.title::after{
  content: ' ';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight:bold;
}
.col-3 p{
  font-size: 15px;
}
.col-3:hover{
  transform: translateY(-10px);
}
.offer{
  background: #34ebb4;
margin-top: 80px;
padding: 30px 0;
}
.col-1 .exclusive-img{
  padding: 50px;
}
small{
  color: #555;
}

/*----------------Brands------------------*/
.Brands{
  margin: 100px 0;
}
.col-4{
  width: 160px;
}
.col-4 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-4 img:hover{
  filter: grayscale(0);
}

.app{
  width: 200px;
}
